<div fxLayout="row" fxLayoutAlign="center center" class="header">
  <div fxFlex="0 0 10%"><a routerLink="/">Tropical Bunnies</a></div>
  <div fxFlex="0 0 60%"></div>
  <div fxFlex="0 0 10%"><a routerLink="/about">About</a></div>
  <div fxFlex="0 0 10%"><a routerLink="/game">Play!</a></div>
  <div fxFlex="0 0 10%" *ngIf="user"><a href (click)="security.checkout()">Logout</a></div>
  <div fxFlex="0 0 10%" *ngIf="!user"><a href="{{ this.security.checkin() }}" target="_blank">Sign in</a></div>
</div>
