.container {
  width: 100%;
  text-align: center;
  vertical-align: center;
  box-shadow: 0 0 16px -8px rgb(0 0 0 / 68%);
}

.title {
  text-align: left;
}

p.bullet {
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
}
