<div class="container">
  <div fxLayout="column" fxFlexFill>
    <div class="video" fxFlex="0 0 100%" fxFlexAlign="center">
      <iframe width="1000px" height="580px" src="https://www.youtube.com/embed/G0fOt2GrRic?si=kOKdPXdLIUFGRyO7"
              title="Game Presentation"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
    </div>
<!--
    <div class="features" fxFlex="0 0 100%" fxFlexAlign="center" fxFlexFill>
      <mat-list>
        <mat-list-item *ngFor="let feature of features">
          <h3 class="title" matListItemTitle>{{ feature.title }}</h3>
          <p class="bullet" matListItemLine *ngFor="let bullet of feature.bullets">
            {{bullet}}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
-->
  </div>
</div>
<app-footer></app-footer>
