<div class="container">
  <div fxLayout="column" fxFlexFill>
    <div class="video" fxFlex="0 0 100%" fxFlexAlign="center">
      <iframe width="1040" height="600" src="https://www.youtube.com/embed/-Bzi3XXTLe8?si=5S0ZWLoYvwVMpG5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
<!--
    <div class="features" fxFlex="0 0 100%" fxFlexAlign="center" fxFlexFill>
      <mat-list>
        <mat-list-item *ngFor="let feature of features">
          <h3 class="title" matListItemTitle>{{ feature.title }}</h3>
          <p class="bullet" matListItemLine *ngFor="let bullet of feature.bullets">
            {{bullet}}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
-->
  </div>
</div>
<app-footer></app-footer>
