<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="0 0 15%" class="cell left">
    Tropical Bunnies
    <ul class="address">
      <li class="first line">1324 West Woods Rd.</li>
      <li class="second line">Building G, Suit G-13</li>
      <li class="third line">Bellevue, WA, USA</li>
    </ul>
    <span class="link">
      <a>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      </a>
    </span>
    <span class="link">
      <a>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
      </a>
    </span>
    <span class="link">
      <a>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
      </a>
    </span>
    <span class="link">
      <a>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="telegram"></mat-icon>
      </a>
    </span>
  </div>
  <div fxFlex class="cell">
    All rights reserved! Copyright &copy; 2024
  </div>
  <div fxFlex="0 0 15%" class="cell right">
    <ul>
      <li class="item"><a routerLink="/">Home</a></li>
      <li class="item"><a routerLink="/articles/privacy">Privacy Policy</a></li>
      <li class="item"><a routerLink="/articles/terms">Terms of Service</a></li>
      <li class="item"><a routerLink="/login">Connect</a></li>
    </ul>
  </div>
</div>
